---
---

// start content

@import 'shared';
@import 'homepage';

@font-face {
    font-family: 'RSS DejaVu Mono';
    src: url('fonts/RSSDejaVuSansMonoBootleg-Book.woff2') format('woff2'),
         url('fonts/RSSDejaVuSansMonoBootleg-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
  font-size: 1.25vw;
}

body{
  font-family: 'RSS DejaVu Mono', sans-serif;
  font-weight: 400;
  background-color: $body_background;
  margin: 1rem;
  font-smooth: never;
  -webkit-font-smoothing : none;
  background-image: url('/images/noise.svg');
  background-attachment: fixed;
  background-size: $background_image_size;
}

h1,
h2,
p,
div,
a{
  margin: 0;
  font-size: 1rem;
}

aside{
  white-space: pre-line;
  position: fixed;
  bottom: $margin;
  left: $margin;
  padding: 0 $margin;
  width: 30%;
  overflow: auto;
  height: $aside_height; 
  box-sizing: border-box;
  background: $info_background; 
  font-size: $smallest_text;
  text-indent: $margin;
  box-shadow: inset 0px 2px 5px rgba(0,0,0,0.5);
  background-image: url('/images/texture.svg');
  background-size: 8rem;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  background: linear-gradient(to right, $text_gray, #fff, $text_gray);
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #666;
  box-shadow: none;
}

@media(max-width: 1100px){
  html{
    font-size: 20px;
  }

  header:before,
  header:after{
    display: none;
  }

  #posts{
    margin-top: $margin * 2;
    width: 100%;
    margin-left: 0;
    background-color: transparent;
  }
  .post{
    background-color: $section_background;
    margin-bottom: $margin;
    border-radius: $margin;
  }

  .about_author, .how_we_met{
    height: auto;
  }

  #homepage header,
  #wilmer,
  aside{
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    flex-wrap: wrap;
  }

  #audio{
    justify-content: space-between;
    margin-bottom: $margin;
    box-sizing: border-box;
  }

  #wilmer{
    height: auto;
    margin-bottom: $margin * 2;
  }

  aside{
    margin-top: $margin * 2;
    height: auto;
  }

  header h1,
  #header_sub_info,
  #wilmer,
  aside,
  #home_link,
  #post_page #page_subheading{
    width: 100%;
  }

  #home_link,
  #post_page #page_subheading{
    margin-bottom: $margin;
  }

  #content p{
    padding: 2rem;
  }
}

@media(max-width: 767px){
  body{
    margin: $margin/2;
  }

  header h1{
    font-size: 1rem;
    padding-bottom: $margin;
  }
  #home_link,
  #post_page #page_subheading,
  header h1{
    font-size: 1rem;
    margin-bottom: $margin;
    margin-top: 0;
  }

  #post_page #content,
  #header_sub_info,
  #audio{
    margin-top: 0;
  }

  #audio{
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .play_button{
    margin-bottom: $margin;
  }

  #content p,
  #audio_info{
    font-size: 1rem;
    padding: 1rem;
  }

  #posts{
    margin-top: 0;
  }
  .email{
    word-break: break-all;
  }
  .name{
    text-align: center;
  }
  .post_title{
    width: auto;
    margin: 0 auto;
  }
  .about_author{
    padding: $margin 0;
    text-align: center;

  }
  .name, .email,
  .about_author, .how_we_met{
    width: 100%;
    border: none; 
    margin: 0;
  }

  #content img{
    height: auto;
  }
}