$text_gray: #595959;
$link_text: #000;
$link_background: #f699c5;

$body_background: #66cc99;
$section_background: #874db4;
$section_text_color: #aef8eb;
$info_background: #f5de7e;

$stroke_width: 1px;
$text_shadow: 0.08em 0.08em 0 #000;
$shadow: 0px 2px 5px rgba(0,0,0,0.5);

$background_image_size: 1rem;

$title_text: 5rem;
$smallest_text: 0.75rem;

$margin: 1rem;
$aside_height: 35vh;