$text_gray: #595959;
$link_text: #000;
$link_background: #f699c5;

$body_background: #66cc99;
$section_background: #874db4;
$section_text_color: #aef8eb;
$info_background: #f5de7e;

$stroke_width: 1px;

$title_text: 2rem;
$smallest_text: 0.75rem;

$margin: 1rem;
$aside_height: 30vh;