<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body id='homepage'>
    <header class='movable'>
      <h1>{{ page.title }}</h1>
      <div id="header_sub_info">
        <span id="page_subheading">{{ page.subheading }}</span>
        <div id='audio'>
          <button id="play" class="play_button">
            <img src="/images/play.svg">
          </button>
          <button id="pause" class="play_button selected">
            <img  src="/images/pause.svg">
          </button>
          <div id="audio_info">
            ella_heron-parte_parcell.mp3
          </div>
          <audio id='audio_player' loop>
            <source src="/music/ella_heron-parte_parcell.mp3" type="audio/mpeg">
          </audio>
        </div>
      </div>
      <video id='wilmer' autoplay loop muted playsinline>
        <source src="/images/power_nap-final_attempt.mp4" type="video/mp4">
      </video>
    </header>
    <main class='movable'>
      <section id="posts">
        {% for post in site.posts %}
          <div class="post">
            <h1 class="name index_section">{{post.author}}</h1>
            <span class="email index_section">{{post.email}}</span>
            <a class="post_title" href="{{ post.url }}">
              {{ post.title }}
            </a>
            <div class="about_author index_section">{{post.about_author}}</div>
            <div class="how_we_met index_section">{{post.how_we_met}}</div>
          </div>
        {% endfor %}
        <div class="post">
          <h1 class="name index_section">Ella Heron</h1>
          <span class="email index_section">ella@email.com</span>
          <span class="post_title">
            Ella made the music that you can listen to on this page.
          </span>
          <div class="about_author index_section">
          </div>
          <div class="how_we_met index_section">
            I met Ella this year, unexpectedly, in Connecticut. The first movie we watched together was Titanic, which neither of us had seen before, and we fell asleep. Most recently, we watched the first two installments of Kieślowski’s Dekalog and also fell asleep, but only during the second film.
          </div>
        </div>
        
        <div class="post">
          <h1 class="name index_section">Wilmer Wilson IV</h1>
          <span class="email index_section">wilmer@email.com</span>
          <span class="post_title">
            Wilmer made the video
          </span>
          <div class="about_author index_section">
          </div>
          <div class="how_we_met index_section">
            The last thing I texted Wilmer was a video of me skateboarding, badly, in an empty parking lot. The last thing Wilmer texted me was about puzzles, which we did a lot of collaboratively last winter. We’ve also collaborated on book projects, art, partnership, cooking, foraging, and so on. Wilmer’s one of my oldest friends.
          </div>
      </section>
    </main>
    <aside class='movable'>
      {{ page.aside | textilize }}
    </aside>

    <footer class='movable'>
      <a href="https://rahulshinde.com">Site by Rahul</a>
    </footer>

    <img id='philly' src="/images/pa.svg">
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>