<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body id="post_page">
    <header class="movable">
      <h1>{{ page.title }}</h1>
      <a id="home_link" href="/index.html">Home</a><span id="page_subheading">{{ page.author }}</span>
    </header>
    <main class="movable">
      <section id="content">
        {{content}}
      </section>
    </main>
    <img id='philly' src="/images/pa.svg">
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>